.wrapper-picture {
	height: 400px;

	.picture {
		height: inherit;
	}
}

.wrapper-text {
	.bio {
		margin: 20px;
	}
}

/*medium viewport*/
@media screen and (min-width: 768px) {
	.main-about {
		margin-top: 50px;
		.wrapper-picture {
			height: 450px;
		}
	}
}