.main-about {
	// Override bootstrap so we don't get a horizonal scrollbar.
	&.row {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.wrapper-picture {
	.picture {
		height: 400px;
	}
}

.wrapper-text {
	.bio {
		padding: 20px;
		font-size: 19px;
		color: #d3d3d3;

		.loblaw-digital {
			font-family: Helvetica;
			font-size: 18px;
		}
	}
}

.ink1 {
	color: @warm-blue;
}

.ink2 {
	color: @cool-blue;
}

.ink3 {
	color: @teal;
}

.ink4 {
	color: @viridian;
}

.ink5 {
	color: @cool-green;
}

.ink6 {
	color: @leave-green;
}

.ink7 {
	color: @yellow-green;
}

/*medium viewport*/
@media screen and (min-width: 768px) {
	.main-about {
		margin-top: 50px;
		&.row {
			margin-left: 0px;
			margin-right: 0px;
		}

		.wrapper-picture {
			.picture {
				height: 450px;
				margin-bottom: 30px;
			}
		}

		.wrapper-text {
			.bio {
				padding-top: 0;
				padding-left: 50px;
				font-size: 18px;
			}
		}
	}
}

/*large viewport*/
@media screen and (min-width: 1200px) {
	.main-about {
		margin-top: 50px;

		.wrapper-text {
			.bio {
				padding-top: 0;
				padding-left: 150px;
				font-size: 19px;
			}
		}
	}
}