@import "navbar.less";
@import "miscel.less";

.info {
    margin: auto;
    width: 200px;
    text-align: center;
    font-family: typeWriter, serif;
    position: relative;
    top: 30%;

    .name {
        font-size: 30px;
    }

    .job {
        font-weight: bold;
    }

    .typed-cursor{
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
}
html {
    body {      
        background-color: black !important;
        color: white;
        font-size: 15px;
        font-family: Helvetica;
    }
}

/*medium viewport*/
@media screen and (min-width: 768px) {

}

/*large viewport*/
@media screen and (min-width: 1200px) {

}