@import "navbar.less";
@import "miscel.less";
@import "name.less";
@import "contact.less";
@import "page-header.less";
@import "about.less";

html {
    body {      
        background-color: black !important;
        color: white;
        font-size: 15px;
        font-family: Helvetica;
    }
}

div.project {
    background: gray;
    height: 200px;
    padding: 0;

    .picture-view {
        height: 100%;
        width: 100%;

        .picture {
            height: 100%;
        }
    }

    .text-view {
        height: 100%;
        width: 100%;
        padding: 0 10px;
    }
}

/*medium viewport*/
@media screen and (min-width: 768px) {

}

/*large viewport*/
@media screen and (min-width: 1200px) {

}