div.project {
    /*background: gray;*/
    height: 250px;
    padding: 20px 0;

    .picture-view {
        height: 100%;
        width: 100%;
        margin-right: 20px;

        .picture {
            height: 100%;
        }
    }

    .text-view {
        height: 100%;
        width: 314px;
        padding: 0 10px;
    }

    .hid-xs {
        display: none;
    }
}

/*medium viewport*/
@media screen and (min-width: 768px) {
    div.project {
        .picture-view {
            width: auto;
            display: inline;
        }

        .text-view {
            width: auto;
            height: auto;
            display: inline;
            font-size: 16.5px;
        }

        .hid-xs{
            display: block;
        }
    }
}